body {
	background-color: black;
}

#alphaOverlay {
	position: absolute;
	left: 0;
	top: 0;
}

#bgVideo {
	position: absolute;
	left: 0;
	top: 0;
}

#processing {
	position: absolute;
	left: 0;
	top: 0;
}
   


#overlayDiv {
	width: 1280px;
	height: 720px;
	position: absolute;
	left:20px;
	top:20px;
	z-index: 1;

}

#bgDiv {
	background-color: black;
	width: 1280px;
	height: 720px;
	position: absolute;
	left:20px;
	top:20px;
	z-index: 3; 

}

#processingDiv {
	width: 1280px;
	height: 720px;
	position: absolute;
	left:20px;
	top:20px;
	z-index: 2; 

}

